*{margin: 0%;
padding: 0%;
font-family: 'Poppins', sans-serif;
}



.cabeçalho{
    background-color: rgb(24, 212, 212);
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}
.cabeçalho-imagem{
    width: 25%;
}

cabeçalho-lista-item{
    display: inline-block;

}
.escola-imagem{
    width:20%;
}
.escola{
    display: flex;
    color: white;
    background-image: linear-gradient(rgb(24, 212, 212),#3b39af);
    justify-content: center;
    align-items: center;
}
 .escola-div--conteudo{
     width: 35%;
 }
 .escola-titulo{
     padding: 24px 0;}
   
     .estudante-imagem{
        width: 25%;
    }

    .estudante-icone{
        width: 05%;
    }